In [1]:
import pandas as pd 
import os
from tqdm import tqdm
tqdm.pandas()
from sec_cik_mapper import StockMapper

In [2]:
save_companies_filepath = '/media/dmlab/My Passport/DATA/CABERT/companies_stockmapper.csv'

# Company Names

### 기업명 예시
* Ticker: **AMZN** | BAC
* StockMapper (10-K와 일치): **Amazon Com Inc** | Bank Of America Corp /De/
* 10-K: **AMAZON COM INC** | Bank Of America Corp /De/

NEN 필요한 케이스
* Cresci et al., companies.csv: Amazon.com, Inc. | Bank of America Corp
* Wikipedia: Amazon (company) | Bank of America

In [4]:
stockmapper = StockMapper()
stockmapper.save_metadata_to_csv(save_companies_filepath)
print('Created {}'.format(save_companies_filepath))

company_df = pd.read_csv(save_companies_filepath)
print(len(company_df))
company_df.head()

Created /media/dmlab/My Passport/DATA/fin_tweet_spam/companies_stockmapper.csv
12214

    CIK Ticker                            Name Exchange
0  1750    AIR                        Aar Corp     NYSE
1  1800    ABT             Abbott Laboratories     NYSE
2  1961   WDDD                      Worlds Inc      OTC
3  2098    ACU                Acme United Corp     NYSE
4  2178     AE  Adams Resources & Energy, Inc.     NYSE

### lowercase & remove special characters (ex. , .)

In [5]:
removal_list =  "‘, ’, ◇, ‘, ”,  ’, ', ·, \“, ·, △, ●,  , ■, (, ), \", >>, `, /, -,∼,=,ㆍ<,>, .,?, !,【,】, …, ◆,%"

company_df['Name'] = company_df['Name'].apply(lambda x: x.translate(str.maketrans(removal_list, ' '*len(removal_list))))

# lower
for colname in ['Ticker', 'Name']:
    company_df[colname] = company_df[colname].apply(lambda x: x.lower())

company_df.to_csv(save_companies_filepath, index=False)
print('Created {}'.format(save_companies_filepath))
company_df.head()

Created /media/dmlab/My Passport/DATA/fin_tweet_spam/companies_stockmapper.csv

    CIK Ticker                            Name Exchange
0  1750    air                        aar corp     NYSE
1  1800    abt             abbott laboratories     NYSE
2  1961   wddd                      worlds inc      OTC
3  2098    acu                acme united corp     NYSE
4  2178     ae  adams resources & energy  inc      NYSE